.countdown {
  margin: auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /* background-color: #ffd54f; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: -apple-system, 
    BlinkMacSystemFont, 
    "Segoe UI", 
    Roboto, 
    Oxygen-Sans, 
    Ubuntu, 
    Cantarell, 
    "Helvetica Neue", 
    sans-serif;
  color: #FFF;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

#timer {
  margin: auto!important;
}

.countdown ul {
  font-weight: normal;
}

.countdown li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

.countdown li span {
  display: block;
  font-size: 4.5rem;
}