.intro-text {
    padding-top: 150px;
    padding-bottom: 100px;
    text-align: center;
    .intro-lead-in {
      font-size: 22px;
      font-style: italic;
      line-height: 22px;
      margin-bottom: 25px;
      @include serif-font;
    }
    .intro-heading {
      font-size: 50px;
      font-weight: 700;
      line-height: 50px;
      margin-bottom: 25px;
      @include heading-font;
    }
    .btn {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
    }
  }
  